//
// Icon Font: mk-icons
//

@font-face {
  font-family: "mk-icons";
  src: url("../fonts/icons/mk-icons.eot");
  src: url("../fonts/icons/mk-icons.eot?#iefix") format("embedded-opentype"),
       url("../fonts/icons/mk-icons.woff") format("woff"),
       url("../fonts/icons/mk-icons.ttf") format("truetype"),
       url("../fonts/icons/mk-icons.svg#mk-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "mk-icons";
    src: url("../fonts/icons/mk-icons.svg#mk-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow-droplist:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-ellipsis:before,
.icon-logo:before,
.icon-mail:before,
.icon-profile:before,
.icon-share:before,
.icon-social-facebook:before,
.icon-social-google:before,
.icon-social-linkedin:before,
.icon-social-twitter:before {
  display: inline-block;
  font-family: "mk-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow-droplist:before { content: "\f10b"; }
.icon-arrow-left:before { content: "\f100"; }
.icon-arrow-right:before { content: "\f101"; }
.icon-ellipsis:before { content: "\f113"; }
.icon-logo:before { content: "\f103"; }
.icon-mail:before { content: "\f10c"; }
.icon-profile:before { content: "\f10d"; }
.icon-share:before { content: "\f10e"; }
.icon-social-facebook:before { content: "\f10f"; }
.icon-social-google:before { content: "\f110"; }
.icon-social-linkedin:before { content: "\f111"; }
.icon-social-twitter:before { content: "\f112"; }

$font-mk-icons-arrow-droplist: "\f10b";
$font-mk-icons-arrow-left: "\f100";
$font-mk-icons-arrow-right: "\f101";
$font-mk-icons-ellipsis: "\f113";
$font-mk-icons-logo: "\f103";
$font-mk-icons-mail: "\f10c";
$font-mk-icons-profile: "\f10d";
$font-mk-icons-share: "\f10e";
$font-mk-icons-social-facebook: "\f10f";
$font-mk-icons-social-google: "\f110";
$font-mk-icons-social-linkedin: "\f111";
$font-mk-icons-social-twitter: "\f112";
