.ctv
	width: 200px
	height: 100px
	
.fitc
	width: 200px
	height: 100px
	
.how
	width: 200px
	height: 100px
	
.howclip
	width: 48px
	height: 32px
	
.nxne
	width: 200px
	height: 100px
	
.rgd
	width: 200px
	height: 100px
	
.sxsw
	width: 200px
	height: 100px
	
.techvibes
	width: 200px
	height: 100px
	
.techvibesclip
	width: 164px
	height: 27px
	
.ux-magazine
	width: 200px
	height: 100px
	
.ux-magazineclip
	width: 170px
	height: 32px
	