<nav class="section section--secondary as--footer-navigation">
	<div class="layout layout--thirds">
		<ul class="list column">
			<li><a href="#">Home</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Resources</a></li>
			<li><a href="#">Work</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<ul class="list column">
			<li><a href="#">New Product Questionnaire</a></li>
			<li><a href="#">Existing Product Questionnaire</a></li>
			<li><a href="#">Accessibility Book</a></li>
			<li><a href="#">Effective Landing Pages Book</a></li>
			<li><a href="#">Product Insight Mailing List</a></li>
		</ul>
		<ul class="list column">
			<li><a href="#">Accessibility Statement</a></li>
			<li><a href="#">Privacy Policy</a></li>
		</ul>
	</div>
</nav>

<section class="section section--secondary">
	<div class="layout layout--thirds">
		<div class="column">
			<ul>
				<li><svg class="icon-phone sprite--inline fg-color--white"><use xlink:href="#icon-phone" /></svg><span class="sprite--label">877.SAY.YEAH (729.9324)</span></li>
				<li><span class="sprite--label">416.642.9694</span></li>
			</ul>
		</div>
		<div class="column">
			<svg class="icon-mail sprite--inline fg-color--white"><use xlink:href="#icon-mail" /></svg><a href="mailto:hello@sayyeah.com">hello@sayyeah.com</a>
		</div>
		<div class="column">
			<ul class="list list--inline list--social-icons">
				<li><a href="#"><svg class="social-twitter fg-color--white sprite--round bg-color--twitter"><use xlink:href="#social-twitter"></use></svg></a></li>
				<li><a href="#"><svg class="social-linkedin fg-color--white sprite--round bg-color--linkedin"><use xlink:href="#social-linkedin"></use></svg></a></li>
				<li><a href="#"><svg class="social-facebook fg-color--white sprite--round bg-color--facebook"><use xlink:href="#social-facebook"></use></svg></a></li>
				<li><a href="#"><svg class="social-behance fg-color--white sprite--round bg-color--behance"><use xlink:href="#social-behance"></use></svg></a></li>
			</ul>
		</div>
	</div>
</section>

<footer class="section section--secondary as--footer-copyright">
	<div class="layout layout--full">
		<div class="column">&copy; 2008-2015. Say Yeah Inc. All rights reserved.</div>
	</div>
</footer>