---
wrap_preview: 'section section--secondary'
notes: |
  Pennnants can only follow a section of the same type, and require the `set--pennant` class on the section to implement the right spacing.

  Using `pennant--large` creates a larger space between the sections and the pennant image, when desired.
---

<section class="section section--primary"></section>
<section class="section section--primary set--pennant">
	<div class="pennant pennant--large pennant-needs"><svg class="pennant-needs sprite--inline fg-color--black"><use xlink:href="#pennant-needs"></use></svg></div>
</section>