.section.as--page-header
	:background $black
	:color rgba(255,255,255,0.9)

	+display-for(xs)
		:padding-top 24px

	a
		:color rgba(255,255,255,0.9)

	h3.as--page-header-secondary
		:color $yellow

	.as--header-image
		:float left
		:margin-right 72px
			
		& + h2
			:margin-top 24px

		+display-for(xs)
			:display none


.section.as--image-header
	:background url(../images/sy-header-background.jpg)			
	:background-repeat no-repeat
	:background-position 50%
	:background-color #1A1A1A
	+display-for(xs)
		:background $black	

.layout.as--page-menu
	:margin-bottom 120px
	:position relative
	:z-index 1000

	+display-for(xs)
		:margin-bottom 48px
		:padding-bottom 24px
		:border-bottom 1px lighten($black, 5%) solid

	.column
		+remove-whitespace

.section.as--footer-copyright
	:padding 16px
	:text-align center

	.column 
		:font-size $font-size--paragraph-small - 2px

.section.as--footer-navigation
	.column
		:font-size $font-size--paragraph-small - 2px
		:margin-bottom 0

.as--hidden
	:display none

.as--post-date
	:display inline-block
	:margin-bottom 24px
	:font-weight 500

.as--post-content
	a 
		:text-decoration underline
	a.button 
		:text-decoration none	
	ul, ol 
		:list-style-position inside
		:padding-left 26px
	ul li
		:list-style disc !important
	ol li
		:list-style decimal !important

.column p.as--pennant-left, .column div.as--pennant-left
	:margin-left 76px

.column svg.as--pennant-left
	:position absolute
	:top 0
	:left 0

li.as--case-study
	:background-color white

.column.as--image-container
	:height 350px
	:position relative
	+display-for(md)
		:height 250px
	+display-for(sm)
		:height 120px
	+display-for(xs)
		:height 90px
	img 
		:position absolute
		:left 50%
		:transform translateX(-50%)

.column.as--image-container-large
	+display-for(sm xs)
		:height 250px

.column.as--image-container-small
	+display-for(xl lg md sm xs)
		:height 150px	
	img 
		:top 50%
		:left 50%
		:transform translate(-50%, -50%)

.as--svg-centre
	:position relative
	:height 210px
	:margin-top 0 !important
	div
		:position absolute
		:top 50%
		:left 50%
		:transform translate(-50%, -50%)
		p
			:font-size 14px

.as--browser
	:border-radius 4px

.as--social-linkedin-small,
.as--social-twitter-small,
.as--social-facebook-small,
.as--social-behance-small,
.as--social-pinterest-small,
.as--social-google-small
	:width 30px
	:height 30px

.as--case-study-header
	:max-width 800px

body.about-us
	.as--page-menu
		+display-for(lg xl)
			:margin-bottom 320px

strong
	:font-weight 700		
