.menu--primary-navigation-container
	:background #FFF
	:border-bottom 1px #EDEDED solid
	:margin-bottom 36px

.menu--primary-navigation
	@extend %make-adaptive
	+display-for(xs sm)
		:width 100%
	+clear
	
	:margin 0 auto 0
	:overflow-x visible
	:position relative

	+display-for(md lg xl)
		:display flex
		:align-content flex-start
		:align-items flex-start
		:padding 8px 0
		:border-bottom #CCCCCC

.menu--title
	:display inline-block
	:vertical-align middle

	+display-for(xs sm)
		:width 100%
		:display flex
		:align-content flex-start
		:align-items flex-start
		:border-bottom 1px #EDEDED solid

	h1
		+display-for(xs sm)
			:flex 1 1 0
			:width 100%
			:text-align center

	.title--logo
		:font-size 32px
		:line-height 44px
		:margin-right 24px

	.title--action-item
		:display none
		
		+display-for(xs sm)
			:display inline-block
			:flex 1 1 1
			:width 60px
			:text-align center
			:font-size 16px
			:padding 10px 0

.menu--item-list
	// Outer container allows for mobile / tablet horizontal scrolling
	// This kind of scrolling disallows any droplist items in the main navigation
	:display inline-block
	:vertical-align middle
	:height 44px
	:margin 0
	:overflow hidden
	:-webkit-overflow-scrolling touch

	+display-for(xs sm)
		:background-color #FBFBFB

	&::-webkit-scrollbar
		:display none

	ul
		:display block
		:overflow-x auto
		:overflow-y hidden
		:padding 0 8px 50px 8px
		:margin 0
		:list-style-type none
		:white-space nowrap

		li
			:display inline-block

			a
				:display block
				:color #222
				:margin 0
				:padding 6px 16px 6px
				:margin 4px 0

				:font-family $font-family--header
				:font-weight 300

				+display-for(xs sm)
					:font-size 14px
					:margin 5px 0
					:padding 7px 16px 5px

			&.active
				a
					:background $black
					:color #FFF
					:border-radius 3px

.menu--secondary-navigation
	li, .item
		:font-size 14px
		:margin 4px 0

		&:first-of-type
			:margin-top 0

		&:last-of-type
			:margin-bottom 0

		a
			:display block
			:padding 2px 12px 1px

		&.active
			a
				:background #516366
				:color #FFF
				:border-radius 3px


