.menu--primary-navigation
	:display inline-block
	:vertical-align top
	:margin-left 40px
	:width calc(100% - 160px - 40px)

	+display-for(xs sm)
		:width 100%
		:margin-left -4px
		:margin-top 24px

	+display-for(xs)
		:text-align center

	> li
		:margin 0 0 0 2% 
		:padding 7px 8px

		&:first-of-type
			:margin 0

		+display-for(sm)
			:margin 0 0 0 6px
			:padding 7px 6px
		
		+display-for(xs)
			:margin 4px 8px
			:padding 7px 6px

		a
			:padding 0
			:display block
			:font-weight bold

			+display-for(sm)
				:font-size 18px

			+display-for(xs)
				:font-size 16px
			
		&.active
			> a
				:color #FFF
				:border-bottom 2px #FFF solid
		&:hover
			.menu--submenu
				:display block

.menu--submenu
	:position absolute
	:display none
	:background transparentize($black, 0.05)
	:border 1px transparentize(white, 0.95) solid
	:border-radius 4px
	:display none
	:margin-left -14px
	//:margin-top 4px
	:padding 8px 0
	:position absolute
	:z-index 9999
	:top 44px

	li
		:display block
		:padding 0
		:margin 0

		a
			:font-weight normal
			:font-size 16px
			:padding 5px 16px 3px
			:width 100%
	.current_page_parent
		a 
			:border-left 2px $yellow solid
			:color $yellow
			:padding-left 14px

			&:hover
				:color $yellow
		&.active
			a 
				:border-left 2px $yellow solid
				:color $yellow
				:padding-left 14px

				&:hover
					:color $yellow


	// @extend %make-adaptive
	// +display-for(xs sm)
	// 	:width 100%
	// :display inline-block
	
	// :margin 0 auto 0
	// :overflow-x visible
	// :position relative

	// +display-for(md lg xl)
	// 	:display flex
	// 	:align-content flex-start
	// 	:align-items flex-start
	// 	:padding 8px 0
	// 	:border-bottom #CCCCCC



// .menu--title
// 	:display inline-block
// 	:vertical-align middle

// 	+display-for(xs sm)
// 		:width 100%
// 		:display flex
// 		:align-content flex-start
// 		:align-items flex-start
// 		:border-bottom 1px #EDEDED solid

// 	h1
// 		+display-for(xs sm)
// 			:flex 1 1 0
// 			:width 100%
// 			:text-align center

// 	.title--logo
// 		:font-size 32px
// 		:line-height 44px
// 		:margin-right 24px

// 	.title--action-item
// 		:display none
		
// 		+display-for(xs sm)
// 			:display inline-block
// 			:flex 1 1 1
// 			:width 60px
// 			:text-align center
// 			:font-size 16px
// 			:padding 10px 0

// .menu--item-list
// 	// Outer container allows for mobile / tablet horizontal scrolling
// 	// This kind of scrolling disallows any droplist items in the main navigation
// 	:display inline-block
// 	:vertical-align middle
// 	:height 44px
// 	:margin 0
// 	:overflow hidden
// 	:-webkit-overflow-scrolling touch

// 	+display-for(xs sm)
// 		:background-color #FBFBFB

// 	&::-webkit-scrollbar
// 		:display none

// 	ul
// 		:display block
// 		:overflow-x auto
// 		:overflow-y hidden
// 		:padding 0 8px 50px 8px
// 		:margin 0
// 		:list-style-type none
// 		:white-space nowrap

// 		li
// 			:display inline-block

// 			a
// 				:display block
// 				:color #222
// 				:margin 0
// 				:padding 6px 16px 6px
// 				:margin 4px 0

// 				:font-family $font-family--header
// 				:font-weight 300

// 				+display-for(xs sm)
// 					:font-size 14px
// 					:margin 5px 0
// 					:padding 7px 16px 5px

// 			&.active
// 				a
// 					:background $black
// 					:color #FFF
// 					:border-radius 3px

// .menu--secondary-navigation
// 	li, .item
// 		:font-size 14px
// 		:margin 4px 0

// 		&:first-of-type
// 			:margin-top 0

// 		&:last-of-type
// 			:margin-bottom 0

// 		a
// 			:display block
// 			:padding 2px 12px 1px

// 		&.active
// 			a
// 				:background #516366
// 				:color #FFF
// 				:border-radius 3px


