<ul class="resource-items items--thirds">
	<li class="resource-item">
		<h3>Join us Dec 11, 2015 at HoHoTO, Toronto’s epic digital community benefit party.</h3>
		<h4>Thursday, November 26, 2015</h4>
		<p>Once again, we’re proud to be supporting HoHoTO, coming up Friday, December 11. We’ve been participating in this important Toronto charity event since day one, back in 2008, and we &hellip;</p>
		<button class="button">Read On</button>
	</li>

	<li class="resource-item">
		<h3>Join us for Startup Open House, Thursday October 29</h3>
		<h4>Tuesday, October 27, 2015</h4>
		<p>Once again Say Yeah is participating in Startup Open House, an evening of visiting local startups to learn more about their product and services, business, and culture.</p>
		<button class="button">Read On</button>
	</li>

	<li class="resource-item">
		<h3>Getting Started With Your Website: From Domain to Landing Page</h3>
		<h4>Friday, October 23, 2015</h4>
		<p>I’ve registered my domain. I’m ready to build my site and make money. What do I do now? So you’ve purchased your new website domain and you’re ready to build &hellip;</p>
		<button class="button">Read On</button>
	</li>
</ul>