<ul class="resource-items items--half">
	<li class="resource-item">
		<svg class="book-effective-landing-pages-a-strategic-foundation item--image">
			<use xlink:href="#book-effective-landing-pages-a-strategic-foundation" />
		</svg>
		<h3>For New Products</h3>
		<p>You’re working on a new product idea.</p>
		<button class="button">Download for free</button>
	</li>
	<li class="resource-item">
		<svg class="item--image">
			<use xlink:href="#book-effective-landing-pages-a-strategic-foundation" />
		</svg>
		<h3>For New Products</h3>
		<p>You’re working on a new product idea.</p>
		<button class="button">Download for free</button>
	</li>
</ul>