<div class="column">
	<h1><a href="#"><svg class="logo fg-color--white"><use xlink:href="#logo"></use></svg></a></h1>
	<ul class="list menu list--inline menu--primary-navigation">
		<li class="active">
			<a href="#">Services</a>
			<ul class="menu--submenu">
				<li class="active"><a href="#">Our Approach</a></li>
				<li><a href="#">User Experience Design</a></li>
				<li><a href="#">User Interface Design</a></li>
				<li><a href="#">Mobile Web Design</a></li>
				<li><a href="#">Mobile App Design</a></li>
				<li><a href="#">User Testing</a></li>
				<li><a href="#">Analytics</a></li>
				<li><a href="#">Web Design</a></li>
				<li><a href="#">Front End Web Development</a></li>
			</ul>
		</li>
		<li><a href="#">Resources</a>
			<ul class="menu--submenu">
				<li><a href="#">Our Resources</a></li>
				<li><a href="#">Questionnaires</a></li>
				<li><a href="#">Books</a></li>
				<li><a href="#">Presentations</a></li>
				<li><a href="#">Product Insight Blog</a></li>
				<li><a href="#">Published Articles</a></li>
			</ul>
		</li>
		<li><a href="#">Work</a>
			<ul class="menu--submenu">
				<li><a href="#">Our Clients</a></li>
				<li><a href="#">Virgin Gaming</a></li>
				<li><a href="#">BlogTO</a></li>
				<li><a href="#">Chocofinder</a></li>
				<li><a href="#">Curate Science</a></li>
				<li><a href="#">Kipu</a></li>
				<li><a href="#">Smartslips</a></li>
				<li><a href="#">Unata</a></li>
				<li><a href="#">Tourism Toronto</a></li>
			</ul>
		</li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
</div>