<nav class="section section--secondary as--page-header">
	{{> menus.primary-menu example='true' }}

	<div class="layout layout--two-thirds">
		<div class="column">
			<h2>Is your digital product delivering maximum value to your business?</h2>
			<h3>Take our free Product Questionnaire and discover how you can improve your product efforts and deliver bottom line value to your business.</h3>
			<a href="#" class="button button--large">Find out how</a>
		</div>
	</div>
</nav>

<section class="section section--primary">
	<div class="layout layout--two-thirds">
		<div class="column">
			<h2>Experience Counts</h2>
			<p class="set--text-large">Deliver digital products that make a bottom line difference with Toronto's multichannel experience design studio, Say Yeah!</p>
		</div>
	</div>
	<div class="layout layout--full">
		<div class="column">
			<h3>Trusted by</h3>
			<ul class="clients-list">
				<li>Client One</li>
				<li>Client Two</li>
				<li>Client Three</li>
				<li>Client Four</li>
				<li>Client Five</li>
			</ul>
		</div>

		<div class="column">
			<h3>Featured on</h3>
			<ul class="clients-list">
				<li>Client One</li>
				<li>Client Two</li>
				<li>Client Three</li>
				<li>Client Four</li>
				<li>Client Five</li>
			</ul>
		</div>
	</div>
</section>

<section class="section section--primary set--pennant">
	<div class="pennant pennant--large pennant-needs"><svg class="pennant-needs sprite--inline fg-color--black"><use xlink:href="#pennant-needs"></use></svg></div>

	<div class="layout layout--two-thirds">
		<div class="column">
			<h2>Great products meet customer needs, every step of the way.</h2>
			<p>Consider your customer’s journey from awareness to purchase to support. Each interaction throughout this journey plays a role in defining the experience for your users.</p>
			<p>Most importantly, these interactions give you an opportunity to move each user from potential customer to vocal advocate.</p>
			<p>We’ll work with you to design a customer journey that delivers those advocates, from service design to product strategy, design to deployment, validating each step of the way.</p>
			<a href="#" class="button">Learn more about our approach</a>
		</div>
	</div>
</section>

<section class="section section--primary set--pennant">
	<div class="pennant pennant--large pennant-services"><svg class="pennant-services sprite--inline fg-color--black"><use xlink:href="#pennant-services"></use></svg></div>

	<div class="layout layout--two-thirds-reverse">
		<div class="column">
			<h2>The right mix of services.</h2>
			<p>Delivering products that have a bottom line impact requires a mix of services that allow you to improve each step of the customer journey.</p>
		</div>
		<div class="column">
			<div class="layout--nested layout--half">
				
				<ul class="list column">
					<li><h3><svg class="services-strategy sprite--inline fg-color--black"><use xlink:href="#services-strategy"></use></svg><span>Strategy</span></h3></li>
					<li>Research<span class="list-item--subtext">Business, Market, Competition</span></li>
					<li>User Flows<span class="list-item--subtext">User Stories, Journey Mapping</span></li>
					<li>Service Design</li>
					<li>Product Strategy</li>
					<li>Media Planning</li>
					<li>Validation<span class="list-item--subtext">Interviews, Field Studies, and more</span></li>
				</ul>

				<ul class="list column">
					<li><h3><svg class="services-design sprite--inline fg-color--black"><use xlink:href="#services-design"></use></svg><span>Design</span></h3></li>
					<li>Structure<span class="list-item--subtext">Product Map, Architecture, Training, and Support Media</span></li>
					<li>Layout<span class="list-item--subtext">Interface Architecture, Interaction Design, Graphic Design</span></li>
					<li>Engagement<span class="list-item--subtext">Identity, Writing, Calls To Action</span></li>
					<li>Validation<span class="list-item--subtext">Workshops, Prototyping, and more</span></li>
				</ul>
				
				<ul class="list column">
					<li><h3><svg class="services-deployment sprite--inline fg-color--black"><use xlink:href="#services-deployment"></use></svg><span>Deployment</span></h3></li>
					<li>Staff Coaching &amp; Training</li>
					<li>Digital Assets<span class="list-item--subtext">Media, Notes, Animations</span></li>
					<li>Front-end code<span class="list-item--subtext">Standards, Accessibility</span></li>
					<li>Analytics Configuration</li>
					<li>Experience Quality Assurance</li>
					<li>Validation<span class="list-item--subtext">User Testing, Observational Studies, and more</span></li>
				</ul>

				<ul class="list column">
					<li><h3><svg class="services-validation sprite--inline fg-color--black"><use xlink:href="#services-validation"></use></svg><span>Validation</span></h3></li>
					<li>Impact Analysis</li>
					<li>Analytics Reviews</li>
					<li>Behaviourial Reviews</li>
					<li>A/B &amp; Multivariate Testing</li>
					<li>User Testing<span class="list-item--subtext">Remote and In-person</span></li>
					<li>and more</li>
				</ul>

			</div>
		</div>
	</div>
</section>

<section class="section section--primary set--pennant">
	<div class="pennant pennant--large pennant-solving"><svg class="pennant-solving sprite--inline fg-color--black"><use xlink:href="#pennant-solving"></use></svg></div>

	<div class="layout layout--two-thirds-reverse">
		<div class="column">
			<h2>Measurable problem solving.</h2>
			<p>Improving conversions, decision-making, contextual use, and validation are the pillars of our problem solving. If you’re facing one or more of these challenges, get in touch.</p>
		</div>
		<div class="column">
			<div class="layout--nested layout--half">
				<div class="column">
					<h3><svg class="solving-transactional sprite--inline fg-color--black"><use xlink:href="#solving-transactional"></use></svg><span>Transactional</span></h3>
					<p>We’ll help you improve user flows and transactional results within a product, such as signups, checkouts, or other calls to action.</p>
				</div>
				<div class="column">
					<h3><svg class="solving-informational sprite--inline fg-color--black"><use xlink:href="#solving-informational"></use></svg><span>Informational</span></h3>
					<p>We’ll provide your team with the tools they need to improve service delivery at each stage of the customer journey, from communications to online products, sales to support.</p>
				</div>
				<div class="column">
					<h3><svg class="solving-experiential sprite--inline fg-color--black"><use xlink:href="#solving-experiential"></use></svg><span>Experiential</span></h3>
					<p>We’ll ensure your users find, view, and interact with information and data in an intuitive, rewarding way, improving insight, and driving action.</p>
				</div>
				<div class="column">
					<h3><svg class="solving-multiscreen sprite--inline fg-color--black"><use xlink:href="#solving-multiscreen"></use></svg><span>Multi-screen</span></h3>
					<p>We’ll define purposeful experiences for users with different devices and screen sizes, considering when, where, and how they’re interacting with your business and what it will take to drive them to action.</p>
				</div>
				<div class="column">
					<h3><svg class="solving-validated sprite--inline fg-color--black"><use xlink:href="#solving-validated"></use></svg><span>Validated</span></h3>
					<p>We'll provide the tools and expertise to measure product releases over time, ensuring design and engineering efforts are meeting business and user goals.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section--secondary set--padding-bottom-zero">
	<div class="layout layout--two-thirds-reverse">
		<div class="column">
			<h2>See the results.</h2>
			<p>From market validation to raising money, bringing new products to market to making an existing one work, we’re proud to have helped companies of all sizes deliver better products.</p>
			<a href="#" class="button">View our client list by industry</a>
		</div>
		<div class="column">
			<h2>Featured project.</h2>
			<h3>Virgin Gaming</h3>
			<p>Optimizing operations to deliver customer value: how fixing a poorly designed internal system saved Virgin Gaming’s most valued customers.</p>
			<a href="#" class="button">View the Virgin Gaming case study</a>

			<div class="image image--fade fade--right device device--web"></div>
		</div>
	</div>
</section>

<section class="section section--primary">
	<div class="layout layout--thirds">
		<header class="row--title">
			<h2>Get Started</h2>
		</header>
		<div class="column">
			<h3>New Products</h3>
			<p>If you have a new product you’re working on bringing to market, here are a number of tools and services to help you find product/market fit.</p>

			<ul class="list">
				<li><a href="#">Product Questionnaire<span class="list-item--subtext">PDF Download</span></a></li>
				<li><a href="#">Concept Review</a></li>
				<li><a href="#">Landing Page</a></li>
			</ul>

			<a href="#" class="button">Let's get started</a>

		</div>

		<div class="column">
			<h3>Existing Products</h3>
			<p>Measuring the value of your existing product has never been easier. Here are some tools and services to get you started.</p>

			<ul class="list">
				<li><a href="#">Product Questionnaire<span class="label label--outlined">Free</span><span class="list-item--subtext">PDF Download</span></a></li>
				<li><a href="#">Product Review</a></li>
				<li><a href="#">User Behavior Analysis</a></li>
			</ul>

			<a href="#" class="button">Let's get started</a>

		</div>

		<div class="column">
			<h3>Custom Services</h3>
			<p>We solve meaningful problems, finding the right balance between business goals and user needs in a way that serves your bottom line.</p>
			<p>Our custom services mix covers the full lifecycle of a product:</p>

			<ul class="list">
				<li><a href="#">Strategy<span class="list-item--subtext">Research, Product Planning, and Service Design</span></a></li>
				<li><a href="#">Design<span class="list-item--subtext">Interface Design, Graphic Design, Desktop, Mobile, and App Design</span></a></li>
				<li><a href="#">Deployment<span class="list-item--subtext">Front-end Development, Quality Assurance Testing, and more</span></a></li>
				<li><a href="#">Validation<span class="list-item--subtext">User Testing, Analytics, and more</span></a></li>
			</ul>

			<a href="#" class="button">Let's get started</a>

		</div>
	</div>
</section>

{{> footer }}






