{{> menus.primary-menu }}

<div class="layout layout--full title--page">
	<h2 class="page--header">Header example</h2>
	<button class="button style--important">Create a post</button>
</div>

<div class="layout layout--menu-content-action">
	
	<div class="column">
		<ul class="menu menu--secondary-navigation">
			<li class="active"><a href="#">Menu Item One</a></li>
			<li><a href="#">Menu Item Two</a></li>
			<li><a href="#">Menu Item Three</a></li>
		</ul>
	</div><!--

%--><div class="column">
		<div class="card">
			<h4>ATLANTA – Jan. 22, 2015 – For immediate release</h4>
			<h2>Media Personality and Comedic Legend Teams Up with Coca-Cola to Open More Possibilities with the 2015 Coca-Cola Pay It Forward Program</h2>

			<ul class="tabs">
				<li class="active"><a href="#">Active Tab</a></li>
				<li><a href="#">Tab Two</a></li>
				<li><a href="#">Tab Three</a></li>
			</ul>

			<p class="teaser">The Coca-Cola Pay It Forward program returns with a stronger focus on African American moms and their impact on the academic success of their teens. Building on the initiative’s accomplishments, the 2015 program will offer up to 20 winners each a $5,000 scholarship and an invitation to the all-new Coca-Cola Pay It Forward Academy.</p>

			<button class="button">Button</button>

		</div>
	</div><!--

%--><div class="column">
		<button class="button style--important make--full-width make--large">Button</button>
		<button class="button">Button</button>
	</div>
</div>