<nav class="section section--secondary as--page-header">
	<div class="layout layout--full as--page-menu">
		{{> menus.primary-menu }}
	</div>
	<div class="layout layout--two-thirds">
		<div class="column">
			<h2>Resources</h2>
			<h3>A collection of product strategy, design, and business essentials.</h3>
		</div>
	</div>
</nav>

<section class="section section--primary">
	<div class="layout layout--full">
		
		<header class="row--title">
			<h2>Product Questionnaire</h2>
			<p>Take our free Product Questionnaire and discover how you can improve your product efforts and deliver bottom line value to your business.</p>
		</header>

		<div class="column">
			<ul class="resource-items items--half">
				<li class="resource-item">
					<svg class="questionnaire-new-product item--image"><use xlink:href="#questionnaire-new-product" /></svg>
					<h3>For New Products</h3>
					<p>You’re working on a new product idea.</p>
					<button class="button">Download for free</button>
				</li>
		
				<li class="resource-item">
					<svg class="questionnaire-existing-product item--image"><use xlink:href="#questionnaire-existing-product" /></svg>
					<h3>For New Products</h3>
					<p>You’re working on a new product idea.</p>
					<button class="button">Download for free</button>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="section section--primary set--pennant">
	<div class="pennant resource-books"><svg class="resource-books sprite--inline fg-color--black"><use xlink:href="#resource-books"></use></svg></div>

	<div class="layout layout--full">
		
		<header class="row--title">
			<h2>Books</h2>
			<p>Essential best practices and how-to guides for digital product managers, product marketers, and entrepreneurs.</p>
		</header>

		<div class="column">
			<ul class="resource-items items--half">
				<li class="resource-item">
					<svg class="book-accessible-content item--image"><use xlink:href="#book-accessible-content" /></svg>
					<h3>For New Products</h3>
					<p>You’re working on a new product idea.</p>
					<button class="button">Download for free</button>
				</li>
		
				<li class="resource-item">
					<svg class="book-effective-landing-pages-a-strategic-foundation item--image"><use xlink:href="#book-effective-landing-pages-a-strategic-foundation" /></svg>
					<h3>For New Products</h3>
					<p>You’re working on a new product idea.</p>
					<button class="button">Download for free</button>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="section section--primary set--pennant">
	<div class="pennant resource-presentations"><svg class="resource-presentations sprite--inline fg-color--black"><use xlink:href="#resource-presentations"></use></svg></div>

	<div class="layout layout--full">
		
		<header class="row--title">
			<h2>Presentations</h2>
			<p>Slide decks introducing user experience design while highlighting tips and practical examples for getting an effective product to market.</p>
		</header>

		<div class="column">
			<ul class="resource-items items--half">
				<li class="resource-item">
					<svg class="item--presentation presentation-the-experience-makes-the-product"><use xlink:href="#presentation-the-experience-makes-the-product" /></svg>

					<h3>It’s the Experience That Makes the Product, Not the Features</h3>
					<p>Putting experience first from the MVP on up. Lee’s slides from a 60 minute talk at FITC UX.</p>
					<p>This is a product planning primer on taking measured steps to get your digital product to market using fewer resources while ensuring you’re targeting market needs.</p>
					<button class="button">Download for free</button>
				</li>
		
				<li class="resource-item">
					<svg class="item--presentation presentation-deliver-digital-products"><use xlink:href="#presentation-deliver-digital-products" /></svg>
					<h3>An introduction to user experience design and Say Yeah!</h3>
					<p>This deck outlines a framework and scope of services for effective and collaborative user experience design (UXD), first by understanding the customer journey, then by highlighting how an organization can deliver a better customer experience by aligning its efforts to user needs.</p>
					<button class="button">Download for free</button>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="section section--primary set--pennant">
	<div class="pennant resource-blog"><svg class="resource-blog sprite--inline fg-color--black"><use xlink:href="#resource-blog"></use></svg></div>

	<div class="layout layout--full">
		
		<header class="row--title">
			<h2>The Product Insight Blog</h2>
			<p>Essential product techniques, tips, and resources from Say Yeah!</p>
		</header>

		<div class="column">
			<ul class="resource-items items--thirds">
				<li class="resource-item">
					<h3>Join us Dec 11, 2015 at HoHoTO, Toronto’s epic digital community benefit party.</h3>
					<h4>Thursday, November 26, 2015</h4>
					<p>Once again, we’re proud to be supporting HoHoTO, coming up Friday, December 11. We’ve been participating in this important Toronto charity event since day one, back in 2008, and we &hellip;</p>
					<button class="button">Read On</button>
				</li>
		
				<li class="resource-item">
					<h3>Join us for Startup Open House, Thursday October 29</h3>
					<h4>Tuesday, October 27, 2015</h4>
					<p>Once again Say Yeah is participating in Startup Open House, an evening of visiting local startups to learn more about their product and services, business, and culture.</p>
					<button class="button">Read On</button>
				</li>

				<li class="resource-item">
					<h3>Getting Started With Your Website: From Domain to Landing Page</h3>
					<h4>Friday, October 23, 2015</h4>
					<p>I’ve registered my domain. I’m ready to build my site and make money. What do I do now? So you’ve purchased your new website domain and you’re ready to build &hellip;</p>
					<button class="button">Read On</button>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="section section--primary set--pennant">
	<div class="pennant resource-articles"><svg class="resource-articles sprite--inline fg-color--black"><use xlink:href="#resource-articles"></use></svg></div>

	<div class="layout layout--full">
		
		<header class="row--title">
			<h2>Published Articles</h2>
			<p>Our user experience and product insights have been published around the world. Here are some highlights.</p>
		</header>

		<div class="column">
			<ul class="resource-items items--thirds">
				<li class="resource-item">
					<h3>From Digital to Print &amp; Back Again: Creating a Seamless Customer Journey</h3>
					<h4>September 18, 2015</h4>
					<button class="button">Read Article</button>
				</li>
				<li class="resource-item">
					<h3>Understanding User Behaviour for Business Owners</h3>
					<h4>August 13, 2015</h4>
					<button class="button">Read Article</button>
				</li>
				<li class="resource-item">
					<h3>The Experience Makes the Product, Not the Features</h3>
					<h4>January 27, 2015</h4>
					<button class="button">Read Article</button>
				</li>
			</ul>
		</div>
	</div>
</section>
{{> footer }}