<div class="section section--page-header">
	<div class="layout layout--two-thirds">
		<div class="column">
			<h2>User Experience Design</h2>
		</div>
	</div>
</div>

<div class="section section--primary">
	<div class="layout layout--two-thirds">
		<div class="column">
			<h2>User experience is what drives business value.</h2>
			<p>When it comes to digital products, delivering a fulfilling user experience can determine product success. Successful apps engross the user, helping them discover and interact with key information, reach their objectives easily and intuitively, while leaving them with a memorable, positive experience. An exceptional user experience translates to bottom line business value by improving user retention and turning first-time users into key product advocates.</p>
		</div>
	</div>
</div>

<div class="section section--primary">
	<div class="layout layout--two-thirds">
		<div class="column">
			<h2>Delivering on the promise of a great experience.</h2>
			<p>At Say Yeah, we specialize in designing and refining websites, applications, and other digital media with a holistic view of user experience, considering the user flow not just throughout an individual product, but across all the touchpoints of the customer journey. Through a balance of product planning, service design, best practices, user testing, analysis, and prototyping, we work to ensure that the final product servces both the business and its customers.</p>
		</div>
	</div>
</div>

<div class="section section--primary">
	<div class="layout layout--full">
		<div class="column">
			<h2>Our user experience service mix.</h2>
		</div>
	</div>
	<div class="layout layout--half">
		<div class="column">
			<h3>User experience strategy includes:</h3>
			<ul class="list list--bulleted">
				<li>Identifying the key business goals of the digital property and aligning them with the user’s needs.</li>
				<li>Process and service design research and definition to ensure all stakeholders and user needs are met throughout product planning, design, implementation, and validation</li>
				<li>Highlighting specific use cases and gathering data on current or expected user behaviour</li>
				<li>Product planning for multi-screen information design, contextual use requirements, and functionality across different devices</li>
			</ul>
		</div>
		<div class="column">
			<h3>User experience design includes:</h3>
			<ul class="list list--bulleted">
				<li>Creating a journey map to determine how key user groups will flow through the product, achieve their goals, and deliver bottom line value to the business</li>
				<li>Creating the most intuitive user interface possible through with a focus on human-centered design practices</li>
				<li>Designing an intuitive user interface that will help users find the information they need, interact with content and media, and respond to calls to action (CTAs)</li>
			</ul>
		</div>
		<div class="column">
			<h3>User experience deployment includes:</h3>
			<ul class="list list--bulleted">
				<li>Work with your business to coordinate deadlines and meet key milestones</li>
				<li>Deliver standards based front end code with a focus on code optimization, reuse, accessibility, and multi-platform support</li>
				<li>Configure analytics and behavioural tracking to provide new business insights</li>
				<li>Quality assurance and user testing to ensure the shipping product meets the agreed to user needs and business goals</li>
			</ul>
		</div>
		<div class="column">
			<h3>User experience validation includes:</h3>
			<ul class="list list--bulleted">
				<li>Gain insights by thoroughly testing each phase of the project on actual users</li>
				<li>Behavioural reviews, A/B and multivariate testing, and analytics reviews to define areas of improvement and business impact</li>
				<li>Additional ongoing product refinement based on the qualitative data gained from user testing</li>
				<li>Ensuring the delivery of the best digital product user experience possible, providing bottom line value to the business</li>
			</ul>
		</div>
	</div>
</div>


<div class="section section--primary">
	<div class="layout layout--full">
		<div class="column p--centered">
			<h2>Ready to get started?</h2>
			<a href="#" class="link--important">Get in touch.</a>
		</div>
	</div>
</div>




