{{#if notes}}
<div class="f-item-notes"><!-- data-f-toggle="notes" -->
	{{{notes}}}
</div>
{{/if}}

{{#if data.id}}
	{{#each (modifiers @root.elements data.id) }}
		<button class="button" data-modify="{{target}}" data-classes="{{classes}}">{{capitalizeEach @key}}</button>	
	{{/each}}
{{/if}}

<div class="f-item-preview{{#if data.wrap_preview}} {{{data.wrap_preview}}}{{/if}}">
	<div class="viewport md">
		{{{material @key @root}}}
	</div>
</div>

<div class="f-item-code"><!-- class="f-item-hidden"  data-f-toggle="code" -->
	<pre><code class="language-markup">{{material @key @root}}</code></pre>
</div>